footer {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
  border-top: 1px solid #bbbbbb;

}

.gh,
.rs {
  font-size: 1rem;
  font-weight: 600;
  color: #181818;
  text-align: center;
}

footer a {
  color: #181818;
  transition: color .2s ease-in-out;
}

footer a:hover {
  color: #bbbbbb;
}

footer .gh:before {
  content: '©';
}

footer p {
  margin: .5em 0;
}