* {
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
  height: 5px;
  margin: 15px 0;
  user-select: none;
}

.slider > div {
  position: absolute;
  left: 15px;
  right: 15px;
  height: 3px;
}

.slider__progress {
  position: absolute;
  height: 3px;
  border-radius: 10px;
  background-color: #ccc;
}

.slider__progress_from {
  left: 0;
}

.slider__progress_to {
  right: 0;
}

.slider__range {
  position: absolute;
  left: 0;
  height: 3px;
  border-radius: 14px;
  background-color: #181818;
}

.slider__thumb {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  margin-left: -11px;
  z-index: 3;
  border: 1px solid #555555;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  text-align: left;
  cursor: grab;
  outline: none;
}

.slider__sign {
  top: -40px;
  position: absolute;
  height: 20px;
  padding: 0 5px;
  margin-left: -15px;
  z-index: 3;
  border: 1px solid #555555;
  border-radius: 5px;
  background-color: #fff;
  color: #181818;
  text-align: center;
  justify-content: center;
}

.slider__sign-span {
  font-size: 12px;
  font-weight: 700;
}

.slider__input {
  position: absolute;
  width: 100%;
  z-index: 4;
  height: 14px;
  top: 20px;
  opacity: 0;
  -webkit-appearance: none;
  pointer-events: none;
  cursor: grab;
}

.slider__input:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

.slider__input:focus {
  outline: none;
}

.slider__input::-webkit-slider-thumb {
  pointer-events: all;
  width: 40px;
  height: 40px;
  border-radius: 0px;
  border: 0 none;
  -webkit-appearance: none;
  cursor: grab;
}

.slider__input::-ms-fill-lower,
.slider__input::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

.slider__input::-ms-tooltip {
  display: none;
}

.slider__sign-span_size::after {
  content: ' cm';
  white-space: nowrap;
  color: #a5a5a5;
}

.slider__sign-span_price::before {
  content: '€ ';
  white-space: nowrap;
  color: #a5a5a5;
}

.settings-category__name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-category__label {
  font-size: 1rem;
  color: #55555575;
}