* {
  margin: 0;
  padding: 0;
}

.slider label {
  position: absolute;
  top: 20px;
}

.slider label.from {
  left: 0;
}

.slider label.to {
  right: 0;
}

.slider {
  position: relative;
  width: 80%;
  height: 5px;
  margin: 60px 0;
}

.slider > div {
  position: absolute;
  left: 15px;
  right: 15px;
  height: 3px;
}

.slider div .progress {
  position: absolute;
  height: 3px;
  border-radius: 10px;
  background-color: #ccc;
}

.slider div .progress.from {
  left: 0;
}

.slider div .progress.to {
  right: 0;
}


.slider div .range {
  position: absolute;
  left: 0;
  height: 3px;
  border-radius: 14px;
  background-color: #181818;
}

.slider div .thumb {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  margin-left: -11px;
  z-index: 3;
  border: 1px solid #555555;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.slider div .sign {
  opacity: 1;
  top: -40px;
  position: absolute;
  width: 28px;
  height: 20px;
  margin-left: -15px;
  z-index: 3;
  border: 1px solid #555555;
  border-radius: 5px;
  background-color: #fff;
  color: #181818;
  text-align: center;
  justify-content: center;
}

.slider div .sign span {
  font-size: 12px;
  font-weight: 700;
}

.slider:hover div .sign {
  opacity: 1;
}

.slider input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 4;
  height: 14px;
  top: -2px;
  width: 100%;
  opacity: 0;
}

.slider input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

.slider input[type=range]:focus {
  outline: none;
}

.slider input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  -webkit-appearance: none;
  cursor: pointer;
}

.slider input[type=range]::-ms-fill-lower,
.slider input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

.slider input[type=range]::-ms-tooltip {
  display: none;
}