@import url('./normalize.css');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&family=Space+Mono:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'JetBrains Mono', monospace;
  font-family: 'Space Mono', monospace;
  color: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #010409;
}

.application {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow-y: scroll;
}