@import url("./normalize.css");
.welcome-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #C4C4C4;
}

.section-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.pets-slider .slider-pagination .button-arrow, .pet-card .pet-name, .help-list .help-item, .footer.container .locations-wrapper,
.footer.container .contacts-wrapper {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation-content .donation-subtitle {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.paragraph-l, .nav-item .nav-link {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
}

.donation-content .donation-descr {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 100;
  font-size: 12px;
  line-height: 150%;
  color: #545454;
}

h1.title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

h2.subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.pet-card:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.start-screen-gradient-background {
  background: url("../images/noise_transparent@2x.png"), radial-gradient(86% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.footer-gradient-background {
  background: url("../images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211f20;
}

.button-arrow, .button, .button-primary {
  display: inline-block;
  padding: 15px 45px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #F1CDB3;
  border-radius: 100px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  -webkit-transition: background .3s ease-in-out, border-color .3s ease-in-out;
  transition: background .3s ease-in-out, border-color .3s ease-in-out;
}

.button-arrow:hover, .button:hover, .button-primary:hover, .pet-card:hover .button {
  background: #FDDCC4;
  border-color: #FDDCC4;
  cursor: pointer;
}

.button-arrow, .button {
  border: 2px solid #F1CDB3;
  background: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 13px 43px;
}

.button-arrow {
  width: 52px;
  height: 52px;
  padding: 0;
}

@font-face {
  font-family: 'Georgia';
  src: url("../fonts/georgia-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url("../fonts/arial-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url("../fonts/arial-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 40px;
}

.gray-background {
  background: #F6F6F6;
}

.logo, .link-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.link-logo {
  height: 100%;
}

.header-pets h1.title {
  color: #545454;
}

h2.subtitle {
  padding-right: 2px;
}

.header-pets h2.subtitle {
  color: #292929;
}

.header.container {
  height: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header.container:not(.header-pets) {
  margin-bottom: -180px;
}

.header.container.header-pets {
  height: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.burger {
  display: none;
}

.nav-list {
  padding-top: 16px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
          column-gap: 35px;
}

.nav-item {
  list-style-type: none;
}

.nav-item .nav-link {
  display: inline-block;
  color: #CDCDCD;
  letter-spacing: 0.005em;
  text-decoration: none;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.header-pets .nav-item .nav-link {
  color: #545454;
}

.nav-item .nav-link.nav-active {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}

.header-pets .nav-item .nav-link.nav-active {
  color: #292929;
}

.nav-item .nav-link:not(.nav-active):hover {
  color: #FAFAFA;
}

.header-pets .nav-item .nav-link {
  color: #292929;
}

.welcome-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 180px;
  -webkit-column-gap: 42px;
          column-gap: 42px;
}

.welcome-content {
  margin: 163px 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 42px;
  max-width: 460px;
}

.welcome-content .paragraph-l {
  color: #CDCDCD;
}

.welcome-title {
  color: #FFFFFF;
}

.welcome-dog {
  background: 0 0/contain no-repeat url("../images/start-screen-puppy.png");
  min-width: 698px;
  min-height: 728px;
}

.section-title {
  display: block;
  height: 90px;
}

.section:not(.welcome-section) {
  padding-top: 80px;
  padding-bottom: 99.5px;
}

.section.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 120px;
          column-gap: 120px;
}

.about-pets-image {
  min-width: 300px;
  min-height: 408px;
  background: 0 0/contain no-repeat url("../images/about-pets.png");
}

.about-content {
  max-width: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
}

.section.pets-section,
.section.help-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 60px;
}

.section.pets-section .section-title,
.section.help-section .section-title {
  text-align: center;
}

.main-slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-slider .slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 90px;
          column-gap: 90px;
}

.main-slider .slider-container :nth-child(1) .pet-img {
  background: 0 0/contain no-repeat url("../images/katrine.png");
}

.main-slider .slider-container :nth-child(2) .pet-img {
  background: 0 0/contain no-repeat url("../images/jennifer.png");
}

.main-slider .slider-container :nth-child(3) .pet-img {
  background: 0 0/contain no-repeat url("../images/woody.png");
}

.main-slider .slide-left, .main-slider .slide-right {
  position: relative;
}

.main-slider .slide-left::after, .main-slider .slide-right::after {
  position: absolute;
  top: 21px;
  left: 17px;
  display: block;
  content: '';
  width: 14px;
  height: 6px;
}

.main-slider .slide-left::after {
  background: center center/100% no-repeat url("../icons/button-arrow-left.svg");
}

.main-slider .slide-right::after {
  background: center center/100% no-repeat url("../icons/button-arrow-right.svg");
}

.pets-slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 60px;
}

.pets-slider .slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 30px;
}

.pets-slider .slider-container :nth-child(1) .pet-img {
  background: 0 0/contain no-repeat url("../images/katrine.png");
}

.pets-slider .slider-container :nth-child(2) .pet-img {
  background: 0 0/contain no-repeat url("../images/jennifer.png");
}

.pets-slider .slider-container :nth-child(3) .pet-img {
  background: 0 0/contain no-repeat url("../images/woody.png");
}

.pets-slider .slider-container :nth-child(4) .pet-img {
  background: 0 0/contain no-repeat url("../images/sophia.png");
}

.pets-slider .slider-container :nth-child(5) .pet-img {
  background: 0 0/contain no-repeat url("../images/timmy.png");
}

.pets-slider .slider-container :nth-child(6) .pet-img {
  background: 0 0/contain no-repeat url("../images/charly.png");
}

.pets-slider .slider-container :nth-child(7) .pet-img {
  background: 0 0/contain no-repeat url("../images/scarlet.png");
}

.pets-slider .slider-container :nth-child(8) .pet-img {
  background: 0 0/contain no-repeat url("../images/freddie.png");
}

.pets-slider .slider-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.pets-slider .slider-pagination .slide-index {
  background: #F1CDB3;
}

.pets-slider .slider-pagination .slide-index:hover {
  cursor: auto;
  border-color: #F1CDB3;
}

.pets-slider .slider-pagination .button-arrow {
  color: #292929;
}

.pets-slider .slider-pagination .button-arrow:disabled {
  border-color: #CDCDCD;
  color: #CDCDCD;
  cursor: auto;
}

.pets-slider .slider-pagination .button-arrow:disabled:hover {
  background: none;
}

.pet-card {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 30px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  background: #FAFAFA;
  border-radius: 9px;
}

.pet-card .pet-img {
  width: 270px;
  height: 270px;
  border-radius: 9px 9px 0px 0px;
}

.pet-card:hover {
  cursor: pointer;
}

.help-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 120px;
          column-gap: 120px;
  row-gap: 55px;
}

.help-list .help-item {
  list-style-type: none;
  height: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help-list .help-item .help-item-img {
  width: 60px;
  height: 60px;
}

.icon-bowls-and-cups {
  background: center center/100% no-repeat url("../icons/icon-bowls-and-cups.svg");
}

.icon-collars-leashes {
  background: center center/100% no-repeat url("../icons/icon-collars-leashes.svg");
}

.icon-medicines {
  background: center center/100% no-repeat url("../icons/icon-medicines.svg");
}

.icon-pet-food {
  background: center center/100% no-repeat url("../icons/icon-pet-food.svg");
}

.icon-shampoos {
  background: center center/100% no-repeat url("../icons/icon-shampoos.svg");
}

.icon-sleeping-area {
  background: center center/100% no-repeat url("../icons/icon-sleeping-area.svg");
}

.icon-toys {
  background: center center/100% no-repeat url("../icons/icon-toys.svg");
}

.icon-transportation {
  background: center center/100% no-repeat url("../icons/icon-transportation.svg");
}

.icon-vitamins {
  background: center center/100% no-repeat url("../icons/icon-vitamins.svg");
}

.donation-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.donation-dog {
  margin-left: 1px;
  width: 505px;
  height: 261px;
  background: center center/100% no-repeat url("../images/donation-dog.png");
}

.donation-content {
  max-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.donation-content .button-donation {
  color: #545454;
  padding: 10px 15px;
  border-radius: 9px;
  letter-spacing: 0.06em;
  font-size: 20px;
  line-height: 115%;
}

.donation-content .button-donation::after {
  content: '';
  display: block;
  margin-right: 15px;
  float: left;
  width: 30px;
  height: 23px;
  background: center center/100% no-repeat url("../icons/credit-card.svg");
}

.donation-content .donation-descr {
  color: #B2B2B2;
}

.footer.container {
  padding: 40px 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.footer.container .section-title {
  color: #FFFFFF;
}

.footer.container .locations-wrapper,
.footer.container .contacts-wrapper {
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer.container .locations-wrapper .footer-link,
.footer.container .contacts-wrapper .footer-link {
  color: #F1CDB3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer.container .locations-wrapper .email-icon,
.footer.container .contacts-wrapper .email-icon {
  width: 40px;
  height: 32px;
  background: center center/100% no-repeat url("../icons/mail.svg");
}

.footer.container .locations-wrapper .phone-icon,
.footer.container .contacts-wrapper .phone-icon {
  width: 40px;
  height: 32px;
  background: center center/100% no-repeat url("../icons/phone.svg");
}

.footer.container .locations-wrapper .map-icon,
.footer.container .contacts-wrapper .map-icon {
  width: 22px;
  height: 32px;
  background: center center/100% no-repeat url("../icons/pin.svg");
}

.footer.container .contacts-wrapper {
  max-width: 279px;
  row-gap: 40px;
}

.footer.container .locations-wrapper {
  max-width: 302px;
  width: 302px;
  row-gap: 32px;
}

.footer.container .locations-wrapper .section-title {
  margin-bottom: 2px;
}

.footer-dog {
  width: 300px;
  height: 310px;
  background: center center/100% no-repeat url("../images/footer-puppy.png");
}

.header-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #FFFFFF;
}

.header .navigation .logo {
  display: none;
}

@media (max-width: 1279px) {
  .container,
  .footer.container {
    width: 708px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .header.container {
    padding-top: 30px;
  }
  .header.container:not(.header-pets) {
    margin-bottom: -150px;
  }
  .welcome-section {
    padding-top: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 100px;
  }
  .welcome-section .welcome-content {
    margin: 0 auto;
  }
  .welcome-section .welcome-button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .welcome-section .welcome-dog {
    min-width: auto;
    min-height: auto;
    height: 593px;
    background-position-x: calc(708px - 569px);
  }
  .section.about-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    row-gap: 80px;
  }
  .main-slider .slider-container {
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
  .main-slider .slider-container :nth-of-type(n+3) {
    display: none;
  }
  .help-list {
    -webkit-column-gap: 60px;
            column-gap: 60px;
  }
  .help-list .help-item {
    width: 170px;
  }
  .donation-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    row-gap: 60px;
  }
  .donation-dog {
    margin-left: -1px;
    margin-bottom: 2px;
  }
  .footer.container {
    -webkit-column-gap: 60px;
            column-gap: 60px;
    padding-top: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer.container .locations-wrapper,
  .footer.container .contacts-wrapper {
    padding-bottom: 65px;
  }
  .pets-slider {
    row-gap: 40px;
  }
  .pets-slider .slider-container {
    -webkit-column-gap: 40px;
            column-gap: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pets-slider .slider-container :nth-of-type(n + 7) {
    display: none;
  }
  .pets-page .section.pets-section {
    row-gap: 30px;
    padding-bottom: 76px;
  }
}

@media (max-width: 767px) {
  .section-title {
    font-size: 25px;
    text-align: center;
  }
  .section-title {
    height: auto;
  }
  body {
    position: relative;
    overflow-x: hidden;
  }
  body.overlay-active {
    overflow-y: hidden;
  }
  .header.container {
    position: relative;
  }
  .burger {
    display: block;
    position: absolute;
    top: 49px;
    left: calc( 50vw + 160px - 83px);
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 30;
    background: none;
    outline: none;
    border: none;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .burger .burger-line {
    top: calc(50% - 2px / 2);
  }
  .burger::before, .burger::after,
  .burger .burger-line {
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #F1CDB3;
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
  }
  .pets-page .burger::before, .pets-page .burger::after, .pets-page
  .burger .burger-line {
    background-color: #000;
  }
  .burger:hover::before, .burger:hover::after,
  .burger:hover .burger-line {
    background-color: #FDDCC4;
  }
  .pets-page .burger:hover::before, .pets-page .burger:hover::after, .pets-page
  .burger:hover .burger-line {
    background-color: #000;
  }
  .navigation {
    position: fixed;
    top: 0;
    z-index: 2;
    right: -320px;
    width: 320px;
    height: 100vh;
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #292929;
    -webkit-transition: right .3s ease-in-out;
    transition: right .3s ease-in-out;
  }
  .pets-page .navigation {
    background-color: #FFFFFF;
  }
  .header .navigation .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 10px;
    height: 60px;
  }
  .nav-list {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: calc(100vh - 90px);
    margin-left: 39px;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
  }
  .nav-list .nav-item .nav-link {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
  }
  .overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
  }
  .header.active .overlay {
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
  }
  .header.active .navigation {
    right: 0;
  }
  .header.active .burger {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  /********************/
  .container,
  .footer.container {
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .section:not(.welcome-section) {
    padding-top: 41px;
    padding-bottom: 42px;
  }
  .welcome-section {
    row-gap: 105px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .welcome-section .welcome-dog {
    width: 260px;
    height: 271.77px;
    background-position: 0 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .welcome-title {
    font-size: 25px;
    letter-spacing: .06em;
  }
  .welcome-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .about-content {
    padding: 0 15px;
    row-gap: 22px;
  }
  .about-content .paragraph-l {
    text-align: justify;
  }
  .about-content .paragraph-l:first-of-type {
    padding-top: 2px;
  }
  .section.about-section {
    row-gap: 42px;
  }
  .about-pets-image {
    min-width: auto;
    min-height: auto;
    max-width: 260px;
    max-height: 353.6px;
    width: calc(100vw - 60px);
    height: calc((100vw - 60px)/300 * 408);
  }
  .section.pets-section,
  .section.help-section,
  .section.donation-section {
    row-gap: 42px;
  }
  .main-slider {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 80px;
            column-gap: 80px;
    row-gap: 20px;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .main-slider .slider-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main-slider .slider-container :nth-of-type(n + 2) {
    display: none;
  }
  .help-list {
    -webkit-column-gap: 30px;
            column-gap: 30px;
    row-gap: 30px;
  }
  .help-list .help-item {
    width: 130px;
    height: 87px;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
  }
  .help-list .help-item .help-item-img {
    width: 50px;
    height: 50px;
  }
  .help-list::after {
    content: '';
    width: 130px;
    height: 87px;
  }
  .donation-content {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .donation-content .section-title {
    height: 64px;
  }
  .donation-content .donation-subtitle {
    letter-spacing: 0px;
    line-height: 160%;
  }
  .donation-content .button-donation {
    font-size: 15px;
    line-height: 160%;
  }
  .donation-content .donation-descr {
    padding: 0 10px;
    text-align: justify;
  }
  .donation-dog {
    margin: 0;
    width: 100%;
    height: calc((100vw - 60px) / 260 *135);
    max-width: 260px;
    max-height: 135px;
  }
  .footer.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
  }
  .footer.container .contacts-wrapper,
  .footer.container .locations-wrapper {
    padding: 0;
    width: unset;
    max-width: 300px;
    row-gap: 40px;
  }
  .footer.container .contacts-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer.container .locations-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer.container .locations-wrapper .section-title {
    margin: 0;
    max-width: 270px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .footer-dog {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0;
    width: 100%;
    height: calc((100vw - 60px) / 260 *269);
    max-width: 260px;
    max-height: 269px;
  }
  .pets-page .section.pets-section {
    row-gap: 42px;
    padding-bottom: 42px;
  }
  .pets-slider .slider-container :nth-of-type(n + 4) {
    display: none;
  }
  .pets-slider .slider-pagination {
    width: 100%;
    -webkit-column-gap: normal;
            column-gap: normal;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
