$color-light-xl: #FFFFFF
$color-light-l: #F6F6F6
$color-light-s: #FAFAFA
$color-dark-s: #CDCDCD
$color-dark-m: #B2B2B2
$color-dark-l: #545454
$color-dark-xl: #4C4C4C
$color-dark-2xl: #444444
$color-dark-3xl: #292929
$color-primary: #F1CDB3
$color-primary-light: #FDDCC4

%h2
  font-family: 'Georgia'
  font-style: normal
  font-weight: 400
  font-size: 44px
  line-height: 130%
  color: #C4C4C4

%h3
  font-family: 'Georgia'
  font-style: normal
  font-weight: 400
  font-size: 35px
  line-height: 130%
  letter-spacing: 0.06em
  color: $color-dark-l

%h4
  font-family: 'Georgia'
  font-style: normal
  font-weight: 400
  font-size: 20px
  line-height: 115%
  letter-spacing: 0.06em
  color: $color-dark-l

%h5
  font-family: 'Georgia'
  font-style: normal
  font-weight: 400
  font-size: 15px
  line-height: 110%
  letter-spacing: 0.06em
  color: $color-dark-l

%paragraph-l
  font-family: 'Arial'
  font-style: normal
  font-weight: 100
  font-size: 15px
  line-height: 160%
  color: $color-dark-l

%paragraph-s
  font-family: 'Arial'
  font-style: italic
  font-weight: 100
  font-size: 12px
  line-height: 150%
  color: $color-dark-l

%logo_title
  font-family: 'Georgia'
  font-style: normal
  font-weight: 400
  font-size: 32px
  line-height: 110%
  letter-spacing: 0.06em
  color: $color-primary

%logo_subtitle
  font-family: 'Arial'
  font-style: normal
  font-weight: 400
  font-size: 13px
  line-height: 15px
  letter-spacing: 0.1em
  color: $color-light-xl

%card-on-hover
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04)

%start-bg-gradient
  background: url('../images/noise_transparent@2x.png'), radial-gradient(86% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20

%footer-bg-gradient
  background: url('../images/noise_transparent@2x.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211f20

%button-primary
  display: inline-block
  padding: 15px 45px
  width: fit-content
  background: $color-primary
  border-radius: 100px
  font-family: 'Georgia'
  font-style: normal
  font-weight: 400
  font-size: 17px
  line-height: 130%
  letter-spacing: 0.06em
  color: $color-dark-3xl
  transition: .3s ease-in-out
  &:hover
    @extend %button-on-hover

%button-on-hover
  background: $color-primary-light
  border-color: $color-primary-light
  cursor: pointer

%button-light
  @extend %button-primary
  border: 2px solid $color-primary
  background: none
  box-sizing: border-box
  padding: 13px 43px

%button-arrow
  @extend %button-light
  width: 52px
  height: 52px
  padding: 0

@import url('./normalize.css')
@font-face 
  font-family: 'Georgia' 
  src: url('../fonts/georgia-regular.ttf') format('truetype')
  font-weight: 400
  font-style: normal
  font-display: swap
@font-face 
  font-family: 'Arial'
  src: url('../fonts/arial-regular.ttf') format('truetype')
  font-weight: 400
  font-style: normal
  font-display: swap
@font-face 
  font-family: 'Arial'
  src: url('../fonts/arial-italic.ttf') format('truetype')
  font-weight: 400
  font-style: italic
  font-display: swap

*
  padding: 0
  margin: 0
  text-decoration: none

html
  scroll-behavior: smooth

.container
  margin: 0 auto
  width: 1200px
  padding: 0 40px

.paragraph-l
  @extend %paragraph-l

.start-screen-gradient-background
  @extend %start-bg-gradient

.footer-gradient-background
  @extend %footer-bg-gradient

.gray-background
  background: $color-light-l

.logo, .link-logo
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: flex-end

.link-logo
  height: 100%

h1.title
  @extend %logo_title
  .header-pets &
    color: $color-dark-l

h2.subtitle
  @extend %logo_subtitle
  padding-right: 2px
  .header-pets &
    color: $color-dark-3xl

.header.container
  &:not(.header-pets)
    margin-bottom: -180px
  height: 60px
  padding-top: 60px
  padding-bottom: 60px
  display: flex
  justify-content: space-between
  &.header-pets
    height: 60px
    padding-top: 30px
    padding-bottom: 30px


.nav-list
  padding-top: 16px 
  height: 100%
  display: flex
  column-gap: 35px

.nav-item
  list-style-type: none
  .nav-link
    display: inline-block
    @extend %paragraph-l
    color: $color-dark-s
    .header-pets &
      color: $color-dark-l
    letter-spacing: 0.005em
    text-decoration: none
    transition: .3s ease-in-out
    &.nav-active
      user-select: none
      color: $color-light-s
      border-bottom: 3px solid $color-primary
      .header-pets &
        color: $color-dark-3xl
  &:hover .nav-link
    color: $color-light-s
    .header-pets &
      color: $color-dark-3xl

.welcome-section
  display: flex
  padding-top: 180px 
  column-gap: 42px

.welcome-content
  margin: 163px 0 auto
  display: flex
  flex-direction: column
  row-gap: 42px
  .paragraph-l
    color: $color-dark-s

.welcome-title
  @extend %h2
  color: $color-light-xl

.button-primary
  @extend %button-primary

.welcome-dog
  background: 2px 0 / contain no-repeat url('../images/start-screen-puppy.png')
  min-width: 698px
  min-height: 728px

.section-title
  @extend %h3

.section:not(.welcome-section)
  padding-top: 80px
  padding-bottom: 99.5px

.section.about-section
  display: flex
  justify-content: center
  align-items: center
  column-gap: 120px

.about-pets-image
  min-width: 300px
  min-height: 408px
  background: 0 0 / contain no-repeat url('../images/about-pets.png')

.about-content
  max-width: 430px
  display: flex
  flex-direction: column
  row-gap: 25px

.section.pets-section,
.section.help-section
  display: flex
  flex-direction: column
  align-items: center
  row-gap: 60px
  .section-title
    text-align: center

.main-slider
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  .slider-container
    display: flex
    justify-content: space-between
    align-items: center
    column-gap: 90px
    & :nth-child(1) .pet-img
      background: 0 0 / contain no-repeat url('../images/katrine.png')
    & :nth-child(2) .pet-img
      background: 0 0 / contain no-repeat url('../images/jennifer.png')
    & :nth-child(3) .pet-img
      background: 0 0 / contain no-repeat url('../images/woody.png')
  .slide-left, .slide-right
    position: relative
    &::after
      position: absolute
      top: 21px
      left: 17px
      display: block
      content: ''
      width: 14px
      height: 6px
  .slide-left::after
      background: center center / 100% no-repeat url('../icons/button-arrow-left.svg')
  .slide-right::after
      background: center center / 100% no-repeat url('../icons/button-arrow-right.svg')

.pets-slider
  width: 100%
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  row-gap: 60px
  .slider-container
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    row-gap: 30px
    & :nth-child(1) .pet-img
      background: 0 0 / contain no-repeat url('../images/katrine.png')
    & :nth-child(2) .pet-img
      background: 0 0 / contain no-repeat url('../images/jennifer.png')
    & :nth-child(3) .pet-img
      background: 0 0 / contain no-repeat url('../images/woody.png')
    & :nth-child(4) .pet-img
      background: 0 0 / contain no-repeat url('../images/sophia.png')
    & :nth-child(5) .pet-img
      background: 0 0 / contain no-repeat url('../images/timmy.png')
    & :nth-child(6) .pet-img
      background: 0 0 / contain no-repeat url('../images/charly.png')
    & :nth-child(7) .pet-img
      background: 0 0 / contain no-repeat url('../images/scarlet.png')
    & :nth-child(8) .pet-img
      background: 0 0 / contain no-repeat url('../images/freddie.png')

  .slider-pagination
    display: flex
    column-gap: 20px
    .slide-index
      background: $color-primary
      &:hover
        cursor: auto
        border-color: $color-primary
    .button-arrow
      @extend %h4
      color: $color-dark-3xl
      &:disabled
        border-color: $color-dark-s
        color: $color-dark-s
        cursor: auto
        &:hover
          background: none

.pet-card
  padding-bottom: 30px
  display: flex
  flex-direction: column
  align-items: center
  row-gap: 30px
  transition: .3s ease-in-out
  background: $color-light-s
  border-radius: 9px
  .pet-img
    width: 270px
    height: 270px
    border-radius: 9px 9px 0px 0px
  .pet-name
    @extend %h4
  &:hover
    @extend %card-on-hover
    cursor: pointer
    .button
      @extend %button-on-hover

.button
  @extend %button-light

.button-arrow
  @extend %button-arrow

.help-list
  display: flex
  flex-wrap: wrap
  justify-content: center
  column-gap: 120px
  row-gap: 55px
  .help-item
    @extend %h4
    list-style-type: none
    height: 113px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    .help-item-img
      width: 60px
      height: 60px

.icon-bowls-and-cups
  background: center center / 100% no-repeat url('../icons/icon-bowls-and-cups.svg')
.icon-collars-leashes
  background: center center / 100% no-repeat url('../icons/icon-collars-leashes.svg')
.icon-medicines
  background: center center / 100% no-repeat url('../icons/icon-medicines.svg')
.icon-pet-food
  background: center center / 100% no-repeat url('../icons/icon-pet-food.svg')
.icon-shampoos
  background: center center / 100% no-repeat url('../icons/icon-shampoos.svg')
.icon-sleeping-area
  background: center center / 100% no-repeat url('../icons/icon-sleeping-area.svg')
.icon-toys
  background: center center / 100% no-repeat url('../icons/icon-toys.svg')
.icon-transportation
  background: center center / 100% no-repeat url('../icons/icon-transportation.svg')
.icon-vitamins
  background: center center / 100% no-repeat url('../icons/icon-vitamins.svg')

.donation-section
  display: flex
  justify-content: center
  align-items: center
  column-gap: 30px

.donation-dog
  margin-left: 1px 
  width: 505px
  height: 261px
  background: center center / 100% no-repeat url('../images/donation-dog.png')

.donation-content
  max-width: 380px
  display: flex
  flex-direction: column
  row-gap: 20px
  .donation-subtitle
    @extend %h5
  .button-donation
    color: $color-dark-l
    padding: 10px 15px
    border-radius: 9px
    letter-spacing: 0.06em
    font-size: 20px
    line-height: 115%
    &::after
      content: ''
      display: block
      margin-right: 15px
      float: left
      width: 30px
      height: 23px
      background: center center / 100% no-repeat url('../icons/credit-card.svg')
  .donation-descr
    @extend %paragraph-s
    color: $color-dark-m

.footer.container
  padding: 40px 40px 0
  display: flex
  justify-content: space-between
  align-content: flex-end
  .section-title
    color: $color-light-xl
  .locations-wrapper,
  .contacts-wrapper
    padding-bottom: 60px 
    display: flex
    flex-direction: column
    justify-content: flex-end
    @extend %h4
    .footer-link
      color: $color-primary
      display: flex
      column-gap: 20px
      align-items: center
    .email-icon
      width: 40px
      height: 32px
      background: center center / 100% no-repeat url('../icons/mail.svg')
    .phone-icon
      width: 40px
      height: 32px
      background: center center / 100% no-repeat url('../icons/phone.svg')
    .map-icon
      width: 22px
      height: 32px
      background: center center / 100% no-repeat url('../icons/pin.svg')
  .contacts-wrapper
    row-gap: 40px
  .locations-wrapper
    width: 302px
    row-gap: 32px
    .section-title
      margin-bottom: 2px
.footer-dog
  width: 300px
  height: 310px
  background: center center / 100% no-repeat url('../images/footer-puppy.png')

.header-wrapper
  position: sticky
  top: 0
  background: $color-light-xl