@import url("./normalize.css");
.welcome-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #C4C4C4;
}

.section-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.pet-card .pet-name, .help-list .help-item {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation-content .donation-subtitle {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.paragraph-l, .nav-item .nav-link {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
}

.donation-content .donation-descr {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 100;
  font-size: 12px;
  line-height: 150%;
  color: #545454;
}

h1.title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

h2.subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.pet-card:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.start-screen-gradient-background {
  background: url("../images/noise_transparent@2x.png"), radial-gradient(86% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.footer-gradient-background {
  background: url("../images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211f20;
}

.button-arrow, .button, .button-primary {
  display: inline-block;
  padding: 15px 45px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #F1CDB3;
  border-radius: 100px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.button-arrow:hover, .button:hover, .button-primary:hover, .pet-card:hover .button {
  background: #FDDCC4;
  cursor: pointer;
}

.button-arrow, .button {
  border: 2px solid #F1CDB3;
  background: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 13px 43px;
}

.button-arrow {
  width: 52px;
  height: 52px;
  padding: 0;
}

@font-face {
  font-family: 'Georgia';
  src: url("../fonts/georgia-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url("../fonts/arial-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url("../fonts/arial-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 40px;
}

.gray-background {
  background: #F6F6F6;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

h2.subtitle {
  padding-right: 2px;
}

.header.container {
  height: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header.container:not(.header-pets) {
  margin-bottom: -180px;
}

.nav-list {
  padding-top: 16px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
          column-gap: 35px;
}

.nav-item {
  list-style-type: none;
}

.nav-item .nav-link {
  display: inline-block;
  color: #CDCDCD;
  letter-spacing: 0.005em;
  text-decoration: none;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.nav-item .nav-link.nav-active {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #FAFAFA;
  border-bottom: 4px solid #F1CDB3;
}

.nav-item:hover .nav-link {
  color: #FAFAFA;
}

.welcome-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 180px;
  -webkit-column-gap: 42px;
          column-gap: 42px;
}

.welcome-content {
  margin: 163px 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 42px;
}

.welcome-content .paragraph-l {
  color: #CDCDCD;
}

.welcome-title {
  color: #FFFFFF;
}

.welcome-dog {
  background: 2px 0/contain no-repeat url("../images/start-screen-puppy.png");
  min-width: 698px;
  min-height: 728px;
}

.section:not(.welcome-section) {
  padding-top: 80px;
  padding-bottom: 99.5px;
}

.section.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 120px;
          column-gap: 120px;
}

.about-pets-image {
  min-width: 300px;
  min-height: 408px;
  background: 0 0/contain no-repeat url("../images/about-pets.png");
}

.about-content {
  max-width: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
}

.section.pets-section,
.section.help-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 60px;
}

.section.pets-section .section-title,
.section.help-section .section-title {
  text-align: center;
}

.main-slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-slider .slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 90px;
          column-gap: 90px;
}

.main-slider .slider-container :nth-child(1) .pet-img {
  background: 0 0/contain no-repeat url("../images/katrine.png");
}

.main-slider .slider-container :nth-child(2) .pet-img {
  background: 0 0/contain no-repeat url("../images/jennifer.png");
}

.main-slider .slider-container :nth-child(3) .pet-img {
  background: 0 0/contain no-repeat url("../images/woody.png");
}

.main-slider .slide-left, .main-slider .slide-right {
  position: relative;
}

.main-slider .slide-left::after, .main-slider .slide-right::after {
  position: absolute;
  top: 21px;
  left: 17px;
  display: block;
  content: '';
  width: 14px;
  height: 6px;
}

.main-slider .slide-left::after {
  background: center center/100% no-repeat url("../icons/button-arrow-left.svg");
}

.main-slider .slide-right::after {
  background: center center/100% no-repeat url("../icons/button-arrow-right.svg");
}

.pet-card {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 30px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  background: #FAFAFA;
  border-radius: 9px;
}

.pet-card .pet-img {
  width: 270px;
  height: 270px;
  border-radius: 9px 9px 0px 0px;
}

.pet-card:hover {
  cursor: pointer;
}

.help-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 120px;
          column-gap: 120px;
  row-gap: 55px;
}

.help-list .help-item {
  list-style-type: none;
  height: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help-list .help-item .help-item-img {
  width: 60px;
  height: 60px;
}

.icon-bowls-and-cups {
  background: center center/100% no-repeat url("../icons/icon-bowls-and-cups.svg");
}

.icon-collars-leashes {
  background: center center/100% no-repeat url("../icons/icon-collars-leashes.svg");
}

.icon-medicines {
  background: center center/100% no-repeat url("../icons/icon-medicines.svg");
}

.icon-pet-food {
  background: center center/100% no-repeat url("../icons/icon-pet-food.svg");
}

.icon-shampoos {
  background: center center/100% no-repeat url("../icons/icon-shampoos.svg");
}

.icon-sleeping-area {
  background: center center/100% no-repeat url("../icons/icon-sleeping-area.svg");
}

.icon-toys {
  background: center center/100% no-repeat url("../icons/icon-toys.svg");
}

.icon-transportation {
  background: center center/100% no-repeat url("../icons/icon-transportation.svg");
}

.icon-vitamins {
  background: center center/100% no-repeat url("../icons/icon-vitamins.svg");
}

.donation-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.donation-dog {
  margin-left: 1px;
  width: 505px;
  height: 261px;
  background: center center/100% no-repeat url("../images/donation-dog.png");
}

.donation-content {
  max-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.donation-content .button-donation {
  color: #545454;
  padding: 10px 15px;
  border-radius: 9px;
  letter-spacing: 0.06em;
  font-size: 20px;
  line-height: 115%;
}

.donation-content .button-donation::after {
  content: '';
  display: block;
  margin-right: 15px;
  float: left;
  width: 30px;
  height: 23px;
  background: center center/100% no-repeat url("../icons/credit-card.svg");
}

.donation-content .donation-descr {
  color: #B2B2B2;
}
